body {
  background-color: #ffffff;
}

.color-#8C3A41 h3 {
  color: #8C3A41;
}

.resell-index.bold {
  font-weight: bold;
}




.black-text {
  color: black;
}



  /* CSS pour créer 2 colonnes sur un écran de taille moyenne */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
  .drop-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  
  }
  }

  @media screen and (max-width: 767px) {
    .resell-buttons {
    position: calc(100%, 2rem);
    right: initial;
    left: 0.3rem;
    margin: 1.8rem;
    
    }
    }

  @media screen and (min-width: 350px) and (max-width: 1024px) {
    .drop-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
    }
    }
  

    
  /* CSS pour créer 4 colonnes */
  @media screen and (min-width: 1024px) {
  .drop-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
  
  }
  }

  /* CSS pour styliser chaque élément de la liste de gouttes */
  .drop-item {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    width: calc(100% - 4.5rem); /* Subtract margin from the width */
    left: 37px;
    padding: 1.5rem;
    position: relative;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 4rem;  
    
  }
  
  .resell-circle {
    border-radius: 90%;
    height: 0.9rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 0.9rem;
  }
  
  /* CSS pour changer la couleur du cercle en fonction de l'indice de revente */
  .resell-circle-excellent {
    background-color: rgb(104, 40, 104);
  }
  .resell-circle-bon {
    background-color: rgb(22, 241, 168);
  }
  .resell-circle-moyen {
    background-color: orange;
  }
  .resell-circle-mauvais {
    background-color: red;
  }
    
    /* CSS pour placer les détails de chaque goutte à gauche de l'image */
    .drop-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 1.5rem;
      
    }
    
    /* CSS pour styliser les éléments de la liste de gouttes */
    .drop-details h3 {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      
      
    }
    
    .drop-details p {
      font-size: 1rem;
      margin: 0.25rem 0;
      margin-bottom: 10px;
  
    }
    
    /* CSS pour changer la couleur de l'indice de revente en fonction de sa valeur */
    .resell-index-excellent {
      color: black;
    }
    .resell-index-bon {
      color: black;
    }
    .resell-index-moyen {
      color: black;
    }
    .resell-index-mauvais {
      color: black;
    }
    
    /* CSS pour ajouter un effet de survol sur chaque élément de la liste de gouttes */
    .drop-item:hover {
      transform: translateY(-0.25rem);
      box-shadow: 0px 0px 12px #2bf4ff;
    }
    
    .resell-buttons {
      position: absolute;
      top: 7rem;
      right: 4rem;
    }
    
    select {
      font-size: 16px;
      padding: 8px 20px;
      border-radius: 5px;
      border: none;
      background-color: #f5f5f5;
      color: #333;
      margin-bottom: 20px;
      max-width: 100%;
      width: 200px;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;
      border: 2px solid black;
    } 
    

    
    @media screen and (max-width: 767px) {
      .texte-drops {
        position: absolute;
        top: 5.5rem;
        left:  2rem;
        font-size: 30px;
        color: #3b2b19;
        }
      }

 

      .presentation-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 80vh;
        justify-content: center; /* Centrer horizontalement le contenu */
        align-items: center; /* Centrer verticalement le contenu */
      }
      
      .logo-container {
        text-align: center;
      }
      
      .logo {
        max-width: 100%;
        height: auto;
      }
      
      .description-container {
        padding: 20px;
        text-align: center; /* Centrer le texte en version desktop et mobile */
      }
      
      @media (max-width: 768px) {
        .presentation-container {
          grid-template-columns: 1fr;
        }
      
        .logo-container {
          text-align: center;
        }
      }
      